date-picker {
	background-color: transparent;
	display: inline-flex;
	float: right;
	font-family: sans-serif;
	font-size: 48%;
	margin: 10px 0;
}

date-picker > * {
	font-family: inherit;
	font-size: inherit;
}